section.concept
  .wrap
    .title_image
      img(src="/concept.png", alt="")
      h2 キャッチコピーが入ります。
    .block
      .flex_box.image_left_block
        .image: img(src="https://placehold.jp/560x340.png")
        .text: p こちらにサロンの特徴やサロンコンセプトの文章が入ります。こちらにテキストが入ります。こちらにテキストが入ります。こちらにテキストが入ります。こちらにテキストが入ります。こちらにテキストが入ります。
    .block
      .title_image
        .bust_up_image: img(src="/bust_up.png", alt="")
      .flex_box.image_right_block
        .image: img(src="https://placehold.jp/560x340.png")
        .text
          h2.center 初めての方へ
          p こちらにバストアップ専門サロンの特徴や初めての方向けの説明文が入ります。こちらにテキストが入ります。こちらにテキストが入ります。こちらにテキストが入ります。こちらにテキストが入ります。こちらに
          a.btn(href="")
            <i class="fa-sharp fa-light fa-angle-right"></i>
            span MORE