section.menu
  .wrap
    h2 MENU
    .menu_images
      .menu_item
        .image: img(src="https://picsum.photos/310/310?random=1" alt="")
        .text: h3 バストアップ
      .menu_item
        .image: img(src="https://picsum.photos/310/310?random=2" alt="")
        .text: h3 ヒップアップ
      .menu_item
        .image: img(src="https://picsum.photos/310/310?random=3" alt="")
        .text: h3 フェイシャル
    a.btn(href="")
      <i class="fa-sharp fa-light fa-angle-right"></i>
      span MORE