section.pr_section
  .wrap
    .blocks
      .block
        a(href=""): img(src="https://picsum.photos/545/255?random=1", alt="")
      .block
        a(href=""): img(src="https://picsum.photos/545/255?random=2", alt="")