.footer_nav
  .wrap
    ul
      li: a(href="/") ホーム
      li: a(href="/beginners") 初めての方へ
      li: a(href="/") メニュー
      li: a(href="/") 採用情報
      li: a(href="/") お問い合わせ
      li: a(href="/") プライバシーポリシー