header
  .wrap
    .container.flex
      .logo
        a(href="/")
          span バストアップサロンなら【THREE スリー】
          .logo_img: img(src="" alt="logo")
      .nav
        ul
          li.active: a(href="/") ホーム
          li: a(href="/beginners.html") 初めての方へ
          li: a(href="") メニュー
          li: a(href="") 採用情報
          li: a(href="") お問い合わせ
          li.reservation_btn
            a(href="")
              <i class="fa-sharp fa-light fa-angle-right"></i>
              span 予約する