.swiper
  .swiper-wrapper
    .swiper-slide
      img(src="https://picsum.photos/1440/640?random=1")
    .swiper-slide
      img(src="https://picsum.photos/1440/640?random=2")
    .swiper-slide
      img(src="https://picsum.photos/1440/640?random=3")
  .swiper-button-prev
  .swiper-button-next